<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Static>
    <Entity name="tahuhu"
            ftpUrl="ftp://10.105.0.243"
            ftpPort="21"
            ftpUsername="67598"
            ftpPassword="ranchian.321"
            ftpPath="uploadimg"
            fileSize="10240"
            httpUrl="ftp://10.105.0.243/uploadimg"
            generateFileName="true"
            subdirectoryModel="yyyyMM"
            generateTimeSubdirectory="true" >
      <ItemList>
        <Item fileExtension="jpg"/>
        <Item fileExtension="bmp"/>
        <Item fileExtension="png"/>
        <Item fileExtension="jpeg"/>
        <Item fileExtension="gif"/>
        <Item fileExtension="apk"/>
      </ItemList>
    </Entity>
    <!--watermark-->
    <Entity name="Fresh">
      <ItemList>
        <Item fileExtension="jpg"/>
        <Item fileExtension="gif"/>
        <Item fileExtension="jpeg"/>
        <Item fileExtension="png"/>
      </ItemList>
      <Watermark Type="1" Position="4" Quality="50" WaterWord="TaHuHu版权所有" WordFont="Verdana" FontSize="2"/>
    </Entity>
    <!--watermark-->
    <Entity name="watermark"  >
      <ItemList>
        <Item fileExtension="jpg"/>
        <Item fileExtension="gif"/>
        <Item fileExtension="jpeg"/>
        <Item fileExtension="png"/>
      </ItemList>
      <Watermark Type="2" Position="4" Quality="80" WaterImgUrl="d:\testImg\0.jpg"/>
    </Entity>
  </Static>
  <DelStatic>
    <DelEntity name="del"
               ftpUrl="ftp://10.100.100.176"
               ftpPort="2121"
               ftpUsername="ftpuser"
               ftpPassword="ftppass">
      <ItemList>
        <Item fileExtension="jpg"/>
        <Item fileExtension="bmp"/>
        <Item fileExtension="png"/>
        <Item fileExtension="jpeg"/>
        <Item fileExtension="gif"/>
      </ItemList>
    </DelEntity>
  </DelStatic>
</configuration>