@{
    ViewBag.Title = "About";
    Layout = null;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<script src="~/Scripts/layer/layui.js"></script>
<link href="~/Scripts/layer/layui.css" rel="stylesheet" />
<div class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">开关</label>
        <div class="layui-input-block">
            <input type="checkbox" checked="" name="switch" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var form = layui.form, layer = layui.layer
        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            if (this.checked) {
                //  layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
                //      });
                //  layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅 仅是ON|OFF', data.othis)
            } else {
                // layer.msg('开关： 关掉了', {
                offset: '6px'
                //  });
            }
            //do some ajax opeartiopns;
        });
    });
</script>