<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    
  </configSections>
  <appSettings>
    <add key="TokenWebsite" value="https://omlidentityserverunichinauat.azurewebsites.net"/>
    <add key="ClientId" value="marketkiosk"/>
    <add key="ClientSecret" value="ji94dku85j"/>
    <add key="Scope" value="postransactionservice iposservice"/>
    <add key="MQUri" value="tcp://10.105.0.133:61616/" />
    <add key="MQUserName" value="thhVendM" />
    <add key="MQPassword" value="1624dc65a59ec1d6b835ab8d6c57532f" />
  </appSettings>
  <connectionStrings>
    <add name="VendMContext" connectionString="Data Source=10.105.0.133;Database=VendMDb;UID=sa;PWD=123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
