
@model VendM.Model.DataModelDto.ReplenishmentUserDto

@{
    ViewBag.Title = "Add";
}
@using (Html.BeginForm("Add", "ReplenishmentUser", FormMethod.Post))
{
<div style="margin: 15px; border: 1px">
    <div class="form-group">
        <label for="name">補貨員編號</label>
        @Html.TextBoxFor(m => m.ReplenishmentUserNo, new { @class = "form-control", placeholder = "補貨員編號", required = "required" })
    </div>
    <div class="form-group">
        <label for="name">補貨員名稱</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "補貨員名稱", required = "required" })
    </div>
    <div class="form-group">
        <label for="name">補貨員郵箱</label>
        <input type="email" class="form-control" id="Email" name="Email" placeholder="補貨員郵箱" required>
        @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "编号", required = "required" })*@
    </div>
    <div class="form-group">
        <label for="name">補貨員狀態</label>
        @Html.DropDownListFor(m => m.Status, (IEnumerable<SelectListItem>)ViewBag.StatusType, new { @class = "form-control" })
    </div>
    <div>
        <div>
            <button type="submit" class="btn btn-primary btn-primary-subbtn">提交</button>
        </div>
    </div>
</div>
}
<script>

    /*自定义validate*/
    var rules = {
        ReplenishmentUserNo: {
            required: true,
            remote: "/ReplenishmentUser/ValidateReplenishmentUserNo"
        },
        Name: "required",
        Email: {
            required: true,
            email: true
        }
    },
        messages = {
            ReplenishmentUserNo: {
                required: "请输入補貨員編號",
                remote: "已存在該補貨員编号"
            },
            Name: {
                required: "请输入補貨員名稱"
            },
            Email: {
                required: "请输入補貨員郵箱",
                email: "邮件地址格式错误!"
            }
        };
    $(document).ready(function () {
        // 在键盘按下并释放及提交后验证提交表单
        $("form").validate({
            rules: rules,
            messages: messages
        });
    });
</script>