
@model  VendM.Model.DataModelDto.RoleDto
@{
    ViewBag.Title = "Edit";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("form").validate();
    });
</script>
@using (Html.BeginForm())
{<div style=" margin:15px; border:1px">
    <div class="form-group">
        <label for="name">角色名称</label>
        @*<input type="text" class="form-control" name="UserName" value="@Model.UserName" id="UserName" placeholder="请输入用户名" required>*@
        @Html.TextBox("RoleName", Model.RoleName, new { @class = "form-control", placeholder = "请输入角色名称", required = "required" })
    </div>
    <div class="form-group">
        <label for="name" >状态</label>
        <select name="Status" id="Status" class="form-control" label="State:" labelPosition="top" style="width:100%;">
            <option value="N">正常</option>
            <option value="A">非正常</option>
        </select>
    </div>
    <div class="form-group">
        <label for="name">创建时间</label>
        @Html.TextBoxFor(m => m.CredateTime, Model.CredateTime.ToString(), new { @class = "form-control", placeholder = "创建时间", required = "required" })
    </div>
    <div style="margin-left:70%">
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</div>
}


