
@{
    ViewBag.Title = "OrderDetail";
}
<div class="page animation-fade">
    <div class="page-content">
        <!--订单详情-->
        <div>
            <label>订单编号：</label>
            <label>订单状态：</label>
            <label>订单金额：</label>
            <label>订单积分：</label>
            <label>订单信息：</label>
        </div>
        <!--订单明细列表-->
        <div class="panel">
            <div class="panel-body container-fluid pb-0">
                <!--表格-->
                <table class="bootstrap-table" data-show-columns="false" id="OrderTable"></table>
            </div>
        </div>
    </div>
</div>

